
<div class="animated fadeIn" ng-controller="appointmentController">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <!--/.col-->
                      <div class="col-sm-6 col-lg-6">
                          <div class="row">
                            <div class="col-sm-12 col-lg-12">
                              <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tc" >
                                    <div class="card-block">
                                      <button type="button" class="btn btn-outline-primary btn-block" ng-if="!appointmentToday" ng-click="showToday()">Today<span class="badge badge-info font-15">
                                        {{ todaysAppointment.length > 0 && todaysAppointment.length || 0 }}
                                      </span></button>
                                      <button type="button" class="btn btn-block btn-primary" ng-if="appointmentToday">Today<span class="badge badge-info font-15">{{ todaysAppointment.length > 0 && todaysAppointment.length || 0 }}</span></button>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tc" ng-hide="!useOverstay">
                                    <div class="card-block">
                                      <button type="button" class="btn btn-outline-primary btn-block" ng-if="!appointmentOverstay" ng-click="showOverstay()">Overstay<span class="badge badge-info font-15">5</span></button>
                                      <button type="button" class="btn btn-primary btn-block" ng-if="appointmentOverstay">Overstay<span class="badge badge-info font-15">5</span></button>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tc" ng-hide="!useVip">
                                  <div class="card-block">
                                    <button type="button" class="btn btn-outline-primary btn-block" ng-if="!appointmentVip" ng-click="showVIP()">VIP<span class="badge badge-info font-15">{{ vipappointment.length > 0 && vipappointment.length || 0 }}</span></button>
                                    <button type="button" class="btn btn-primary btn-block" ng-if="appointmentVip">VIP<span class="badge badge-info font-15">{{ vipappointment.length > 0 && vipappointment.length || 0 }}</span></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--/.row-->
                          <hr class="mt-0">
                      </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-lg-6">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="card-block padding-top-0">
                                        <small class="text-muted">Name/Host/Company/Pass No/vehicle No</small>
                                        <br>
                                        <div class="input-group">
                                          <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Type" ng-model="appointmentSearch">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                        </div>
                    </div>



                    <div class="row" ng-hide="!appointmentToday">
                      <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span ng-if="selectionAppointment.length < 1">None</span>
                                    <span ng-if="selectionAppointment.length > 0 && selectionAppointment.length < todaysAppointment.length">Selected</span>
                                    <span ng-if="selectionAppointment.length == todaysAppointment.length">All</span>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" ng-click="unselectAllAppointmentToday()">None</a>
                                    <a class="dropdown-item" href="#" ng-click="selectAllAppointmentToday()">All</a>
                                  </div>
                                </div>
                            </div>
                            <div class="col-sm-10" ng-hide="selectionAppointment.length < 1">
                                <button class="btn btn-secondary" type="button" ng-click="todayAppointmentView(selectionAppointment)" ng-hide="selectionAppointment.length > 1">
                                    View
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="todayAppointmentEdit()" ng-hide="selectionAppointment.length > 1 ">
                                    Edit
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="todayAppointmentMarkEntry(selectionAppointment)" ng-if="!disableMarkEntry">
                                    Mark entry
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="todayAppointmentMarkExit(selectionAppointment)" ng-if="!disableMarkExit">
                                    Mark exit
                                </button>
                                <button class="btn btn-secondary" type="button" ng-csv="exportTodaysSelectedData(selectionAppointment)" filename="appointments.csv">
                                    Export
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="todayAppointmentDelete(selectionAppointment)">
                                    Delete
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="todayAppointmentBlock(selectionAppointment)" ng-if="!disableBlock">
                                    Block
                                </button>
                            </div>
                        </div>
                     
                    <!--/.row-->
                    <div class="padding-top-16">
                        <!-- Today -->
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Image</th>
                              <th scope="col">Status</th>
                              <th scope="col">Pass no</th>
                              <th scope="col">Name</th>
                              <th scope="col">Host</th>
                              <th scope="col">Company</th>
                              <th scope="col">Purpose</th>
                              <th scope="col">Entry Time</th>
                              <th scope="col">Exit Time</th>
                            </tr>
                          </thead>
                          <tbody ng-hide="todaysAppointment.length == 0">
                            <tr ng-repeat="tAppointment in todaysAppointment | filter: appointmentSearch">
                              <td><input type="checkbox"
                                          name="selectedAppointments[]"
                                          value="{{tAppointment.id}}"
                                          ng-model="tAppointment.selected"
                                          ng-checked="selectionAppointment.indexOf(tAppointment.id) > -1"
                                          ng-click="toggleSelection(tAppointment)"></td>
                              <th scope="row">
                                <div class="avatar">
                                    <img ng-src="https://cppjs.com/api/visitor/visitorid/{{tAppointment.visitorid}}/photo/user/{{userid}}/uuid/{{uuid}}" class="img-avatar" alt="admin@bootstrapmaster.com" src="img/avatars/1.jpg">
                                </div>
                              </th>
                              <td ng-if="tAppointment.isblocked < 1">{{tAppointment.status}}</td>
                              <td ng-if="tAppointment.isblocked > 0">Blocked</td>
                              <td>{{tAppointment.visitorpassno}}</td>
                              <td>{{tAppointment.visitorname}}<br>
                                {{ !tAppointment.visitormobile && '--' || tAppointment.visitormobile }}
                              </td>
                              <td>{{tAppointment.visiteename}}<br>
                                {{ !tAppointment.visiteemobile && '--' || tAppointment.visiteemobile }}
                              </td>
                              <td>{{tAppointment.fromcompany}}</td>
                              <td>{{tAppointment.purpose}}</td>
                              <td>{{ !tAppointment.gateentrytime && '--' || tAppointment.gateentrytime }}</td>
                              <td>{{ !tAppointment.gateexittime && '--' || tAppointment.gateexittime }}</td>
                            </tr>
                          </tbody>
                          <tbody ng-show="todaysAppointment.length == 0">
                            <tr>
                                <td colspan="8"> No Data Found </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                 </div>



                <div class="row" ng-hide="!appointmentOverstay">
                      <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    None
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">None</a>
                                    <a class="dropdown-item" href="#">All</a>
                                  </div>
                                </div>
                            </div>
                            <div class="col-sm-10">
                               <button class="btn btn-secondary" type="button" ng-click="overstayView()" ng-hide="">
                                    View
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="overstayEdit()" ng-hide="">
                                    Edit
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="overstayMarkExit()" ng-hide="">
                                    Mark exit
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="overstayExport()">
                                    Export
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="overstayDelete()">
                                    Delete
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="overstayBlock()">
                                    Block
                                </button>
                            </div>
                        </div>
                     
                    
                    <!--/.row-->
                    <div class="padding-top-16">
                        <!-- Overstay -->
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Image</th>
                              <th scope="col">Status</th>
                              <th scope="col">Pass no</th>
                              <th scope="col">Name</th>
                              <th scope="col">Host</th>
                              <th scope="col">Company</th>
                              <th scope="col">Entry Time</th>
                              <th scope="col">Exit Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><input type="checkbox"></td>
                              <th scope="row">
                                <div class="avatar">
                                    <img ng-src="img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="img/avatars/1.jpg">
                                </div>
                              </th>
                              <td>Mark overstay</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>tete</td>
                              <td>hdhsa</td>
                              <td>dadsda</td>
                              <td>adasdsa</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                 </div>

            <div class="row" ng-hide="!appointmentVip">
                      <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span ng-if="selectionVip.length < 1">None</span>
                                    <span ng-if="selectionVip.length > 0 && selectionVip.length < vipappointment.length">Selected</span>
                                    <span ng-if="selectionVip.length == vipappointment.length">All</span>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" ng-click="unselectAllAppointmentVip()">None</a>
                                    <a class="dropdown-item" href="#" ng-click="selectAllAppointmentVip()">All</a>
                                  </div>
                                </div>
                            </div>
                            <div class="col-sm-10" ng-hide="selectionVip.length < 1">
                                <button class="btn btn-secondary" type="button" ng-click="vipAppointmentView(selectionVip)" ng-hide="selectionVip.length > 1">
                                    View
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="vipAppointmentEdit()" ng-hide="selectionVip.length > 1">
                                    Edit
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="vipAppointmentMarkEntry()" ng-hide="selectionVip.length > 1">
                                    Mark entry
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="vipAppointmentMarkExit()" ng-hide="selectionVip.length > 1">
                                    Mark exit
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="exportVipSelectedData()">
                                    Export
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="vipAppointmentDelete()">
                                    Delete
                                </button>
                                <button class="btn btn-secondary" type="button" ng-click="vipAppointmentBlock()">
                                    Block
                                </button>
                            </div>
                        </div>
                     
                    <!--/.row-->
                    <div class="padding-top-16">
                        <!-- Vip Appointment-->
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Image</th>
                              <th scope="col">Status</th>
                              <th scope="col">Pass no</th>
                              <th scope="col">Name</th>
                              <th scope="col">Host</th>
                              <th scope="col">Company</th>
                              <th scope="col">Entry Time</th>
                              <th scope="col">Exit Time</th>
                            </tr>
                          </thead>
                          <tbody ng-hide="vipappointment.length == 0">
                            <tr ng-repeat="vAppointment in vipappointment | filter: appointmentSearch">
                            <td><input type="checkbox"
                                          name="selectionVip[]"
                                          value="{{vAppointment.id}}"
                                          ng-model="vAppointment.selected"
                                          ng-checked="selectionVip.indexOf(vAppointment.id) > -1"
                                          ng-click="toggleVipSelection(vAppointment)"></td>
                              <th scope="row">
                                <div class="avatar">
                                    <img ng-src="https://cppjs.com/api/visitor/visitorid/{{vAppointment.visitorid}}/photo/user/{{userid}}/uuid/{{uuid}}" class="img-avatar" alt="admin@bootstrapmaster.com" src="img/avatars/1.jpg">
                                </div>
                              </th>
                              <td>{{vAppointment.status}}</td>
                              <td>{{vAppointment.visitorpassno}}</td>
                              <td>{{vAppointment.visitorname}}
                                <br>
                                {{ !vAppointment.visitormobile && '--' || vAppointment.visitormobile }}
                              </td>
                              <td>{{vAppointment.visiteename}}
                                <br>
                                {{ !vAppointment.visiteemobile && '--' || vAppointment.visiteemobile }}
                              </td>
                              <td>{{vAppointment.fromcompany}}</td>
                              <td>{{vAppointment.purpose}}</td>
                              <td>{{ !vAppointment.gateentrytime && '--' || vAppointment.gateentrytime }}</td>
                              <td>{{ !vAppointment.gateexittime && '--' || vAppointment.gateexittime }}</td>
                            </tr>
                          </tbody>
                          <tbody ng-show="vipappointment.length == 0">
                            <tr>
                                <td colspan="8"> No Data Found </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
            </div>
             </div>






        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>
</div>
</div>
