<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block padding-top-0">
                    <div class="row">
                      <div class="col-sm-2 col-lg-2">
                          <div class="row">
                              <div class="col-sm-12 col-lg-12">
                                  <div class="callout callout-success">
                                    <small class="text-muted">Mail of</small>
                                    <br>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Today
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Today &nbsp;<span class="badge badge-pill badge-info">5</span></a>
                                        <a class="dropdown-item" href="#">All &nbsp;<span class="badge badge-pill badge-info">5</span></a>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <!--/.row-->
                          <hr class="mt-0">
                      </div>

                        <!--/.col-->
                        <div class="col-sm-4 col-lg-5">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="callout callout-warning">
                                        <small class="text-muted">To mail/From mail/Mail subject</small>
                                        <br>
                                        <div class="input-group">
                                          <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Type">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                        </div>
                        <div class="col-sm-6 col-lg-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="callout callout-info">
                                        <small class="text-muted">From date</small>
                                        <br>
                                          <input type="text" class="form-control" placeholder="00/00/00">
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6">
                                    <div class="callout callout-danger">
                                        <small class="text-muted">To date</small>
                                        <br>
                                        <input type="text" class="form-control" placeholder="00/00/00">
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-sm-12">
                        toolbar
                      </div>
                    </div>
                    <!--/.row-->
                    <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                              <th class="text-center"></th>
                                <th class="text-center"><i class="icon-people"></i>
                                </th>
                                <th>Visitor</th>
                                <th class="text-center">Visit to</th>
                                <th>Host</th>
                                <th class="text-center">Pass no</th>
                                <th>Visit time & date</th>
                                <th>Entry time</th>
                                <th>Exit time</th>
                                <th class="text-center">Device</th>
                                <th class="text-center">Activity</th>
                            </tr>
                        </thead>
                        <tbody ng-controller="usersTableCtrl">
                            <tr ng-repeat="user in users">
                              <td class="text-center">
                                <input type="checkbox" />
                              </td>
                                <td class="text-center">
                                    <div class="avatar">
                                        <img ng-src="img/avatars/{{ user.avatar }}" class="img-avatar" alt="admin@bootstrapmaster.com">
                                        <span class="avatar-status" ng-class="{ 'badge-success' : user.status == 'active',
                    'badge-warning' : user.status == 'away',
                    'badge-danger'  : user.status == 'busy',
                    'badge-default' : user.status == 'offline' }"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>{{ user.name }}</div>
                                    <div class="small text-muted">
                                        <span>Mobile</span>
                                        : 6525252525</div>
                                </td>
                                <td class="text-center">
                                    <div>Company Name</div>
                                </td>
                                <td>
                                    <div>{{ user.name }}</div>
                                    <div class="small text-muted">
                                        <span>Mobile</span>
                                        : 6525252525</div>
                                </td>
                                <td class="text-center">
                                    <small class="text-muted">1212122</small>
                                </td>
                                <td>
                                    <div class="small text-muted">12.30 PM</div>
                                    <strong>12/12/2017</strong>
                                </td>
                                <td>
                                    <div class="small text-muted">12/12/2017</div>
                                    <strong>12.30 PM</strong>
                                </td>
                                <td>
                                    <div class="small text-muted">12/12/2017</div>
                                    <strong>02.30 PM</strong>
                                </td>
                                <td class="text-center">
                                  <i class="icon-screen-desktop"></i>
                                </td>
                                <td class="text-center">
                                  <a class="btn btn-outline-success" href="#"><i class="icon-pencil icons"></i></a>
                                  <a class="btn btn-outline-danger" href="#"><i class="icon-ban icons"></i></i></a>
                                </td>
                            </tr>
                            <tr>
                              <td class="text-center">
                                <input type="checkbox" checked>
                              </td>
                                <td class="text-center">
                                    <div class="avatar">
                                        <img ng-src="img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="img/avatars/1.jpg">
                                        <span class="avatar-status badge-success" ng-class="active"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="ng-binding">Yiorgos Avraamu</div>
                                    <div class="small text-muted">
                                        <span>Mobile</span>
                                        : 6525252525</div>
                                </td>
                                <td class="text-center">
                                    <div>Company Name</div>
                                </td>
                                <td>
                                    <div class="ng-binding">Yiorgos Avraamu</div>
                                    <div class="small text-muted">
                                        <span>Mobile</span>
                                        : 6525252525</div>
                                </td>
                                <td class="text-center">
                                    <small class="text-muted">1212122</small>
                                </td>
                                <td>
                                    <div class="small text-muted">12.30 PM</div>
                                    <strong>12/12/2017</strong>
                                </td>
                                <td>
                                    <a class="btn btn-outline-warning" href="#">Mark entry <i class="icon-clock icons"></i></a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-warning" href="#">Mark exit <i class="icon-clock icons"></i></a>
                                </td>
                                <td class="text-center">
                                  <i class="icon-screen-desktop"></i>
                                </td>
                                <td class="text-center">
                                  <a class="btn btn-outline-success" href="#"><i class="icon-pencil icons"></i></a>
                                  <a class="btn btn-outline-danger" href="#"><i class="icon-ban icons"></i></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>
