<div class="animated fadeIn" ng-controller="mailrecordController">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block padding-top-0">
                    <div class="row">
                      <div class="col-sm-2 col-lg-2">
                          <div class="row">
                              <div class="col-sm-12 col-lg-12">
                                  <div class="callout callout-success">
                                    <small class="text-muted">Mail of</small>
                                    <br>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                        <span ng-if="mailRecord">Today</span>
                                        <span ng-if="allMailreord">All</span>
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" ng-click="todayMailRecord()">Today &nbsp;<span class="badge badge-pill badge-info">{{totalTodaymail}}</span></a>
                                        <a class="dropdown-item" ng-click="allMailrecord()">All &nbsp;<span class="badge badge-pill badge-info">5</span></a>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <!--/.row-->
                          <hr class="mt-0">
                      </div>

                        <!--/.col-->
                        <div class="col-sm-4 col-lg-5">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="callout callout-warning">
                                        <small class="text-muted">To mail/From mail/Mail subject</small>
                                        <br>
                                        <div class="input-group">
                                          <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search MailRecord" ng-model="mailrecordSearch">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                        </div>
                        <div class="col-sm-6 col-lg-5 mailrecord" ng-if="allMailreord">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="callout callout-info">
                                        <small class="text-muted">From date</small>
                                        <br>
                                         <datepicker>
                                          <input ng-model="date" type="text" class="form-control"/>
                                        </datepicker>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6">
                                    <div class="callout callout-danger">
                                        <small class="text-muted">To date</small>
                                        <br>
                                        <datepicker>
                                          <input ng-model="date" type="text" class="form-control"/>
                                        </datepicker>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-sm-12">
                           <div class="row">
                                <div class="col-sm-2">
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span ng-if="selection.length < 1">None</span>
                                        <span ng-if="selection.length > 0 && selection.length < todayMails.length">Selected</span>
                                        <span ng-if="selection.length == todayMails.length">All</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" ng-click="unselectAllToday()">None</a>
                                        <a class="dropdown-item" href="#" ng-click="selectAllToday()">All</a>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <button class="btn btn-secondary" type="button" ng-if="selection.length > 1">
                                        Export
                                    </button>
                                    <button class="btn btn-secondary" type="button">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        
                        <div class="padding-top-16">
                        <!--/.row-->
                        <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">ID</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Mobile</th>
                                  <th scope="col">Tracking ID</th>
                                  <th scope="col">Courier Company</th>
                                  <th scope="col">Details</th>
                                </tr>
                              </thead>
                              <tbody ng-if="todayMailAvailable">
                                <tr ng-repeat = "todayMail in todayMails | filter: mailrecordSearch">
                                  <td><input type="checkbox"
                                          name="selectedFruits[]"
                                          value="{{todayMail.id}}"
                                          ng-model="todayMail.selected"
                                          ng-checked="selection.indexOf(todayMail.id) > -1"
                                          ng-click="toggleSelection(todayMail)"></td>
                                  <td>{{todayMail.id}}</td>
                                  <td>
                                    <span class="label btn-success" ng-if="todayMail.iscollected==1">Collected</span>
                                    <span class="label btn-info" ng-if="todayMail.iscollected==0">Not Collected</span>
                                  </td>
                                  <td>{{todayMail.name}}</td>
                                  <td>{{todayMail.mobile}}</td>
                                  <td>{{ !todayMail.trackingid && '--' || todayMail.trackingid }}</td>
                                  <td>{{ !todayMail.deliverycompany && '--' || todayMail.deliverycompany }}</td>
                                  <td><a ui-sref="app.mailDetails({id:todayMail.id, year: todayMail.year})"> View </a></td>
                                </tr>
                              </tbody>
                              <tbody ng-if="!todayMailAvailable">
                                <tr>
                                 <td colspan="7">No Data Available</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>
