<div class="animated fadeIn" ng-controller="mailrecordController">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block padding-top-0">
                    <div class="row">
                      <div class="col-sm-2 col-lg-2">
                          <div class="row">
                              <div class="col-sm-12 col-lg-12">
                                  <div class="callout callout-success">
                                    <small class="text-muted">Mail of</small>
                                    <br>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Today
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Today &nbsp;<span class="badge badge-pill badge-info">5</span></a>
                                        <a class="dropdown-item" href="#">All &nbsp;<span class="badge badge-pill badge-info">5</span></a>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <!--/.row-->
                          <hr class="mt-0">
                      </div>

                        <!--/.col-->
                        <div class="col-sm-4 col-lg-5">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="callout callout-warning">
                                        <small class="text-muted">To mail/From mail/Mail subject</small>
                                        <br>
                                        <div class="input-group">
                                          <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Type">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                        </div>
                        <div class="col-sm-6 col-lg-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="callout callout-info">
                                        <small class="text-muted">From date</small>
                                        <br>
                                          <input type="text" class="form-control" placeholder="00/00/00">
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6">
                                    <div class="callout callout-danger">
                                        <small class="text-muted">To date</small>
                                        <br>
                                        <input type="text" class="form-control" placeholder="00/00/00">
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-sm-12">
                           <div class="row">
                                <div class="col-sm-2">
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        None
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">None</a>
                                        <a class="dropdown-item" href="#">All</a>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <button class="btn btn-secondary" type="button">
                                        Export
                                    </button>
                                    <button class="btn btn-secondary" type="button">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        
                        <div class="padding-top-16">
                        <!--/.row-->
                        <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">ID</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Mobile</th>
                                  <th scope="col">Tracking ID</th>
                                  <th scope="col">Courier Company</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td>Id</td>
                                  <td>Status</td>
                                  <td>Name</td>
                                  <td>Mobile</td>
                                  <td>Tracking ID</td>
                                  <td>Courier Company</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>
