<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.main')} && {open: $state.includes('app.history')}">
                    <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.main')}" ui-sref="app.main"><i class="fa fa-clock-o"></i> Appointments</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle">Import</a>
                            <ul class = "nav-dropdown-items">
                                 <li class="nav-item">
                                    <a class="nav-link" ui-sref-active="active" ng-csv="[]" csv-header="templateAppointmentHeader" filename="appointmentTemplate.csv"><i class="fa fa-download"></i> Download template</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ui-sref-active="active" ui-sref="app.main.import"><i class="fa fa-upload"></i> Import excel</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref-active="active" ui-sref="app.history"><i class="fa fa-history"></i> History</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.mail')}"; ng-hide="!displayMailRecords">
                    <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.mail')}" ui-sref="app.mail"><i class="fa fa-envelope"></i> Mailrecord </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle"> Import </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" ui-sref-active="active" ng-csv="[]" csv-header="templateMailRecordHeader" filename="mailRecordTemplate.csv"><i class="fa fa-download"></i> Download template</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ui-sref-active="active" ui-sref="app.mailrecord.import"><i class="fa fa-upload"></i> Import excel</a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </li>
                <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.settings')}">
                    <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.settings')}" href="#"><i class="icon-settings"></i> Settings</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" ui-sref-active="active" ui-sref="app.settings.contact-support" href="" data-toggle="modal" data-target="#contactSupport"><i class="fa fa-contact"></i> Contact support</a>
                        </li>
                    </ul>
                </li>
            </li>
        </ul>
    </nav>
</div>


<div id="contactSupport" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Contact Support</h4>
      </div>
      <div class="modal-body">
       
        If you have any trouble using our product, you may reach to our support team for assistance. You may email your problems in details or, reach out to our customer support available 24/7.

        <div><strong>Email: <u>support@sanbots.com</u></strong></div>
        <div><strong>Phone: +91-8527010203</strong></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>

  </div>
</div>